{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        .channels .span4 {
            min-height: 200px;
        }
    </style>
{% endblock styles %}

{% block content %}

<div class="row-fluid thumbnails channels">
        {% for channel in channels %}
            <div class="span4 thumbnail">
                <div class="span12">
                    <h3>{{ channel.name }}</h3>
                </div>
                <div class="span12" style="margin-top: 50px;">
                    <p><a class="btn" href="{{ channel.get_absolute_url }}">Entre agora »</a></p>
                </div>
            </div>
        {% endfor %}
</div>

<hr>
{% endblock content %}
