{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        #streaming {
            float: left;
            padding: 10px;
            border: 5px solid #61625d;
            -moz-border-radius: 5px; /* FF1+ */
                -ms-border-radius: 5px; /* IE future proofing */
            -webkit-border-radius: 5px; /* Saf3+, Chrome */
            border-radius: 5px; /* Opera 10.5, IE 9 */
            background: #000000;
            background-image: -moz-linear-gradient(top, #313131, #000000); /* FF3.6 */
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #313131),color-stop(1, #000000)); /* Saf4+, Chrome */
            box-shadow: inset 0 15px 35px #535353;
        }
    </style>
{% endblock styles %}

{% block content %}
<h1>{{ channel.name }}</h1>
<br />
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <video id="streaming" class="video-js vjs-default-skin" controls autoplay width="540" height="335" data-setup="{}">
                <source src="{{ channel.video }}" type='video/ogg; codecs="theora, vorbis"'>
                <applet code="com.fluendo.player.Cortado.class" archive="http://theora.org/cortado.jar" width="352" height="288">
                    <param name="url" value="{{ channel.video }}"/> 
                </applet>
            </video>
        </div>
        <div class="span4">
            {% include "room.html" %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            {{ channel.description|safe }}
        </div>
        <div class="span4">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
                new TWTR.Widget({
                version: 2,
                type: 'search',
                search: '{{ channel.get_hashtags }}',
                rpp: 30,
                interval: 100,
                title: '@flisoldf',
                subject: '{{ channel.name }}',
                width: 350,
                height: 300,
                theme: {
                    shell: {
                    background: '#d44413',
                    color: '#ffffff'
                    },
                    tweets: {
                    background: '#ffffff',
                    color: '#000000',
                    links: '#1985b5'
                    }
                },
                features: {
                    scrollbar: true,
                    loop: true,
                    live: true,
                    hashtags: true,
                    timestamp: true,
                    avatars: true,
                    toptweets: true,
                    behavior: 'all'
                }
                }).render().start();
            </script>
        </div>
    </div>
    <div class="row-fluid">
        <div class="class12">
            <h3>Programação</h3>
            {{ programming.text|safe }}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    {% load socketio_tags %}
    {% socketio %}
    <script src="{{ STATIC_URL }}js/chat.js"></script>
    <script>window.room = {{ room.id }};</script>
{% endblock %}
